.scorecard-score-container {
    position: relative;
    top: -5px;
}

/**
    Score card
**/
.scorecard-player {
    height: 70px;
    width: 306px;
    background-image: url(../../impactjs/media/images/new/score_bg.png);
    background-repeat: no-repeat;
    margin: 20px 0px 2px 27px;
    color: #FFF;
}





.scorecard-player-turn {
    color: #996633;
    font-family: "Helvetica Neue";
    position: relative;
    top: 25px;
    left: 12px;
    font-size: .7em;
    font-weight: bold;
}



.scorecard-player-score {
    color: #996633;
    font-family: "Helvetica Neue";
    position: relative;
    top: 25px;
    left: 8px;
    font-size: .7em;
    font-weight: bold;
}


.scorecard-score-keeper {
    height: 85px;
    background-color: #9E9E9E;
    color: #FFF;
    border: 2px solid #000;
    font-size: 1.3em;
    -webkit-border-radius: 10px;
    /*text-align: center;*/
    padding: 10px;
}

.scorecard-score-keeper-white {
    position: relative;
    top: -11px;
    right: -5px;
}

.scorecard-score-keeper-black {
    position: relative;
    top: -11px;
    right: -5px;
}

/* Debugging and development */

div.debug {
    cursor: pointer;
    font-family: "Helvetica Neue";
    font-size: 12px;
    color: blue;
    margin-bottom: 20px;
}