/* make our fonts look better in Safari/Chrome  */

* { -webkit-font-smoothing: antialiased }

strong { font-weight: bold }

/* style the actual canvas  */

canvas {
    border: 2px solid rgba(0, 0, 0, 0.65);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, .5);
}

.score-container {
    position: relative;
    top: -5px;
}

/* score card sidebar */

.logo {
    background-image: url(../impactjs/media/images/rvrsit-logo.png);
    background-repeat: no-repeat;
    width: 231px;
    height: 60px;
    overflow: hidden;
    margin: 20px 65px;
}

.player {
    height: 70px;
    width: 306px;
    background-image: url(../impactjs/media/images/new/score_bg.png);
    background-repeat: no-repeat;
    margin: 20px 0 2px 27px;
    color: #FFF;
}

.player-turn-tile {
    height: 32px;
    width: 32px;
}

.tile-white { background-image: url(../impactjs/media/images/rvrs-wht-32px.png) }

.tile-black { background-image: url(../impactjs/media/images/rvrs-blck-32px.png) }

.tile-black-score { background-image: url(../impactjs/media/images/rvrs-blck-32px.png) }

.player-turn-label {
    font-weight: bold;
    text-transform: uppercase;
}

.player-turn-title {
    color: #996633;
    font-family: "Helvetica Neue";
    position: relative;
    top: 26px;
    left: 14px;
    font-size: .7em;
    font-weight: bold;
    text-shadow: 0px 1px #fff;
}

.player-score {
    color: #996633;
    font-family: "Helvetica Neue";
    position: relative;
    top: 27px;
    left: 8px;
    font-size: .7em;
    font-weight: bold;
    text-shadow: 0px 1px #fff;
}

.score-keeper {
    height: 85px;
    background-color: #9E9E9E;
    color: #FFF;
    border: 2px solid #000;
    font-size: 1.3em;
    -webkit-border-radius: 10px;
    /*text-align: center;*/
    padding: 10px;
}

.score-keeper-white {
    font-size: 20px;
    font-weight: bold;
}

.score-keeper-black {
    font-size: 20px;
    top: -79px;
    right: -240px;
    font-weight: bold;
}

.about-pane {
    border: 1px solid #474747;
    -webkit-border-radius: 5px;
    font-family: "Helvetica Neue";
    width: 307px;
    background-color: #161616;
    opacity: 0.9;
    margin-top: 10px;
    position: relative;
    color: #9E9E9E;
    padding: 5px;
    left: 27px;
}

.about-pane p {
    font-size: 15px;
    line-height: 22px;
    padding: 12px;
}

.about-pane a {
    color: #fff;
    text-decoration: none;
}

.btn-title {
    position: relative;
    font-weight: bold;
    font-family: "Helvetica Neue";
    top: 11px;
    text-align: center;
    font-size: 1.3em;
    text-shadow: 0px 1px #fff;
}

.btn-title.play::before { content: '' }

.btn-title.settings::before { content: '' }

.tile-black-player {
    position: relative;
    top : -53px;
    right : 50px;
}

.button {
    width: 308px;
    height: 58px;
    position: relative;
    top: 45px;
    left: 27px;
    color: #555555;
    margin-bottom: 10px;
}

.button-untouched {
    background-image: url(../impactjs/media/images/new/button-untouched.png);
    background-repeat: no-repeat;
}

.button-touched {
    top: 47px;
    background-image: url(../impactjs/media/images/new/button-touched.png);
    background-repeat: no-repeat;
}

.button-touched .btn-title {
    top: 13px;
    color: #996633;
}

/* login panel  */

.login-panel .x-toolbar-dark {
    background-color: #454747;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(69, 71, 71)), to(rgb(21, 21, 21)));
    background-image: -webkit-linear-gradient(top, rgb(69, 71, 71), rgb(21, 21, 21));
    background-image: -moz-linear-gradient(top, rgb(69, 71, 71), rgb(21, 21, 21));
    background-image: -o-linear-gradient(top, rgb(69, 71, 71), rgb(21, 21, 21));
    background-image: -ms-linear-gradient(top, rgb(69, 71, 71), rgb(21, 21, 21));
    background-image: linear-gradient(top, rgb(69, 71, 71), rgb(21, 21, 21));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#454747', EndColorStr='#151515');
}

.login-panel .x-title .x-innerhtml {
    text-shadow: 0px 1px black;
    font-size: 18px;
}

/* animations */
.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation: 1s ease;
    -moz-animation: 1s ease;
    -ms-animation: 1s ease;
    -o-animation: 1s ease;
    animation: 1s ease;
}

@-webkit-keyframes flipInX {
    0% {
        -webkit-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        -webkit-transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        -webkit-transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        -webkit-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}
@-moz-keyframes flipInX {
    0% {
        -moz-transform: perspective(400px) rotateX(90deg);
        opacity: 0;
    }
    
    40% {
        -moz-transform: perspective(400px) rotateX(-10deg);
    }
    
    70% {
        -moz-transform: perspective(400px) rotateX(10deg);
    }
    
    100% {
        -moz-transform: perspective(400px) rotateX(0deg);
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

.flip {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: flipInX;
    -webkit-animation-duration: .85s;
    -webkit-animation-delay: .3s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: flipInX;
}

.fade-in {
    -webkit-backface-visibility: visible !important;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: .85s;
    -webkit-animation-delay: .85s;
    -webkit-animation-timing-function: ease;
    -webkit-animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
}
