.score-container {
    position: relative;
    top: -5px;
}

/**
    Score card
**/
.player {
    height: 70px;
    width: 306px;
    background-image: url(../impactjs/media/images/new/score_bg.png);
    background-repeat: no-repeat;
    margin: 20px 0 2px 27px;
    color: #FFF;
}



.player-turn-tile {
    height: 32px;
    width: 32px;
}

.tile-white {
    background-image: url(../impactjs/media/images/rvrs-wht-32px.png);
}

.tile-black {
    background-image: url(../impactjs/media/images/rvrs-blck-32px.png);
}
.tile-black-score {
    background-image: url(../impactjs/media/images/rvrs-blck-32px.png);
}


.player-turn-label {
    font-weight: bold;
    text-transform: uppercase;
}


.player-turn-title {
    color: #996633;
    font-family: "Helvetica Neue";
    position: relative;
    top: 26px;
    left: 14px;
    font-size: .7em;
    font-weight: bold;
}



.player-score {
    color: #996633;
    font-family: "Helvetica Neue";
    position: relative;
    top: 27px;
    left: 8px;
    font-size: .7em;
    font-weight: bold;
}


.score-keeper {
    height: 85px;
    background-color: #9E9E9E;
    color: #FFF;
    border: 2px solid #000;
    font-size: 1.3em;
    -webkit-border-radius: 10px;
    /*text-align: center;*/
    padding: 10px;
}

.score-keeper-white {
    /*position: relative;*/
    font-weight: bold;
}

.score-keeper-black {
    /*position: relative;*/
    top: -79px;
    right: -240px;
    font-weight: bold;
}


.about-pane {
    border: 1px solid #474747;
    -webkit-border-radius: 10px;
    font-family: "Helvetica Neue";
    width: 307px;
    background-color: #161616;
    opacity: 0.9;
    margin-top: 10px;
    position: relative;
    color: #9E9E9E;
    padding: 5px;
    left: 27px;
}

.btn-title {
    position: relative;
    font-weight: bold;
    font-family: "Helvetica Neue";
    top: 10px;
    text-align: center;
    font-size: 1.3em;
}


.tile-black-player {
    position: relative;
    top : -53px;
    right : 50px;
}

.button {
    width: 308px;
    height: 58px;
    position: relative;
    top: 240px;
    left: 27px;
    color: #555555;
}



.button-untouched {
    background-image: url(../impactjs/media/images/new/button-untouched.png);
    background-repeat: no-repeat;
}

.button-touched {
    top: 243px;
    background-image: url(../impactjs/media/images/new/button-touched.png);
    background-repeat: no-repeat;
}

.button-touched .btn-title {
    top: 13px;
    color: #996633;
}
