.othello-gameboard {

}

/**
  game piece
**/

.othello-gamepiece-square {
     border: 1px solid #9E9E9E;
    -webkit-backface-visibility : visibile;
    padding : 5px;
    /*-webkit-transform-style: preserve-3d;*/
}

.othello-gamepiece {
     border: 2px solid #777777;
    -webkit-border-radius: 99px;
    -webkit-backface-visibility : visibile;
    /*-webkit-animation-iteration-count: 1;*/
    /*-webkit-transform-style: preserve-3d;*/
}

.ogp-white {
    background-color: #FFF;
}

.ogp-black {
    background-color: #000;
}


@-webkit-keyframes flip-gamepiece-white {
    0% {
        background-color: #000;
        -webkit-transform: perspective(400px) rotateY(0deg);
    }
    25% {
        -webkit-transform: perspective(400px) translateZ(60px);
    }
    40% {
        background-color: #000;
        /*-webkit-transform: perspective(400px) translateZ(60px);*/
    }
    50% {
        background-color: #FFF;
    }
    75% {
        -webkit-transform: perspective(400px) rotateY(180deg) translateZ(-60px);
    }
    100%   {
        background-color: #FFF;
        -webkit-transform: perspective(400px) rotateY(180deg) translateZ(0px);
    }
}



.flip-white {
    position: absolute;
    -webkit-animation-name: flip-gamepiece-white;
    -webkit-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
}


@-webkit-keyframes flip-gamepiece-black {
    0% {
        background-color: #FFF;
        -webkit-transform: perspective(400px) rotateY(0deg);
    }
    25% {
        -webkit-transform: perspective(400px) translateZ(60px);
    }
    40% {
        background-color: #FFF;
        /*-webkit-transform: perspective(400px) translateZ(60px);*/
    }
    50% {
        background-color: #000;
    }
    75% {
        -webkit-transform: perspective(400px) rotateY(180deg) translateZ(-60px);
    }
    100%   {
        background-color: #000;
        -webkit-transform: perspective(400px) rotateY(180deg) translateZ(0px);
    }
}



.flip-black {
    position: absolute;
    -webkit-animation-name: flip-gamepiece-black;
    -webkit-iteration-count: 1;
    -webkit-animation-timing-function: ease-out;
    -webkit-animation-fill-mode: forwards;
}

/**
    Score card
**/
.othello-scorecard-player {
    height : 50px;
    border : 1px solid #000;
    -webkit-border-radius: 10px;
    margin : 2px 0 2px 5px;
    background-color: #1A2735;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    padding: 10px;
}

.othello-scorecard-score-keeper {
    height : 80px;
    border : 1px solid #9E9E9E;
    font-size: 1.25em;
    -webkit-border-radius: 10px;
    margin : 5px 0px 2px 5px;
    /*text-align: center;*/
    padding: 10px;
}


/* Debugging and development */

div.debug {
    cursor: pointer;
    font-family: "Helvetica Neue";
    font-size: 12px;
    color: blue;
    margin-bottom: 20px;
}