
.othello-scorecard-score-container {
    position: relative;
    top: -5px;
}

/**
    Score card
**/
.othello-scorecard-player {
    height : 50px;
    border : 2px solid #000;
    -webkit-border-radius: 10px;
    margin : 2px 0 2px 5px;
    background-color: #9E9E9E;
    font-weight: bold;
    text-align: center;
    color: #FFF;
    padding: 10px;
}

.othello-scorecard-score-keeper {
    height : 85px;
    background-color: #9E9E9E;
    color: #FFF;
    border : 2px solid #000;
    font-size: 1.3em;
    -webkit-border-radius: 10px;
    margin : 5px 0px 2px 5px;
    /*text-align: center;*/
    padding: 10px;
}


.othello-scorecard-score-keeper-white {
    position : relative;
    top: -11px;
    right: -5px;
}
.othello-scorecard-score-keeper-black {
    position : relative;
    top: -11px;
    right: -5px;
}
/* Debugging and development */

div.debug {
    cursor: pointer;
    font-family: "Helvetica Neue";
    font-size: 12px;
    color: blue;
    margin-bottom: 20px;
}